<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="타이핑 실력은 물론, 상식과 개발 지식을 함께 익힐 수 있는 인터랙티브 웹사이트입니다." />
    <title>테스트 페이지</title>
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/fonts/KIMM.css" />
    <link rel="stylesheet" href="/src/styles/common/index.css" />
    <link rel="stylesheet" href="/src/components/monitor/monitor.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="monitor-frame"></div>
      <img src="/assets/images/monitor_neck.png" alt="" />
    </div>

    <script type="module" src="/public/scripts/monitor/controlMonitor.js"></script>
  </body>
</html>
