<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>booting</title>
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/fonts/KIMM.css" />
    <link rel="stylesheet" href="/src/styles/common/index.css" />
    <link rel="stylesheet" href="/src/components/booting/booting.css" />
  </head>
  <body>
    <div class="booting-container">
      <video src="/assets/videos/window_loading.mp4" autoplay muted loop></video>
    </div>

    <script type="module" src="/src/components/booting/booting.js"></script>
  </body>
</html>
