.card-component-wrapper {
  display: flex;
  gap: 3.125rem;
}

/* 사이즈 상관없이 공통 css */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-blue);
  border: 0.375rem solid var(--blue-400);
  border-radius: 2.1875rem;
  padding: 0 1.5625rem;
  gap: 1.875rem;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.625rem;
    height: 15.625rem;
    overflow: hidden;
  }
  .img-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  .card-title {
    text-align: center;
    font-size: var(--panel-font-size);
    color: var(--red-300);
    font-weight: 700;
  }
}

/* 카드 사이즈 유형 */
.card.w340 {
  width: 21.25rem;
  height: 31.25rem;
}
.card.w400 {
  width: 25rem;
  height: 34.375rem;
}

/* 호버 및 포커스 효과 */
.card:hover,
.card:focus-visible {
  background: var(--blue-400); /*카드의 border 색상과 똑같은 색상으로 변경하기 */
  outline: none;
}
