<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="타이핑 실력은 물론, 상식과 개발 지식을 함께 익힐 수 있는 인터랙티브 웹사이트입니다." />
    <title>카드 컴포넌트</title>
    <link rel="stylesheet" href="/fonts/KIMM.css" />
    <link rel="stylesheet" href="/src/styles/common/index.css" />
    <link rel="stylesheet" href="/src/components/card/card.css" />
  </head>
  <body>
    <p>카드 컴포넌트 페이지</p>
    <!-- 컴포넌트 마크업을 작성하세요 -->
    <div class="card-component-wrapper">
      <!-- width 340 -->
      <div class="card w340" tabindex="0" role="button">
        <div class="img-container">
          <img src="/assets/icons/acidrain.png" alt="산성비" />
        </div>
        <h2 class="card-title">산성비</h2>
      </div>

      <!-- width 400  -->
      <div class="card w400" tabindex="0" role="button">
        <div class="img-container">
          <img src="/assets/icons/guide.png" alt="게임 설명" />
        </div>
        <h2 class="card-title">게임 설명</h2>
      </div>
    </div>
  </body>
</html>
