/* 공통 모달 스타일 */
.modal {
  border: none;
  padding: 0;
  margin: 0;

  position: fixed;
  inset: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  /* dialog 기본 스타일 제거 */
  max-inline-size: none;
  max-block-size: none;
}

/* 공통 내부 구조 */
.modal-inner {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--primary-white);
  border-radius: 1.5rem;

  position: relative;
}

.modal-title {
  font-size: var(--text-48);
  color: var(--primary-black);
}

.modal-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* 🔷 설명, 점수판, 설명 모달 */
.modal[data-type='description'] .modal-inner,
.modal[data-type='scoreboard'] .modal-inner,
.modal[data-type='settings'] .modal-inner {
  --modal-width: 65rem;
  --modal-height: 41.5625rem;
  --modal-spacing: 4.6875rem;

  width: var(--modal-width);
  height: var(--modal-height);
  padding: var(--modal-spacing);

  border: 6px solid var(--primary-black);
}

.modal[data-type='description'] .modal-close-button,
.modal[data-type='scoreboard'] .modal-close-button,
.modal[data-type='settings'] .modal-close-button {
  position: absolute;
  top: var(--modal-spacing);
  right: var(--modal-spacing);
}

/* 🔷 점수판 모달 */
.modal[data-type='scoreboard'] .modal-content {
  justify-content: start;
  margin-top: 6.1875rem;

  .scoreboard-table {
    width: 31.25rem;
    height: 20.625rem;
    border-collapse: separate;
    border-spacing: 0;
    font-size: var(--text-16);
    border: 1px solid var(--primary-black);
    border-radius: 1.1rem;
  }

  .scoreboard-table td {
    /* padding: 1rem 1.5rem; */
    border-spacing: 0;
    border: 1px solid var(--primary-black);
    font-weight: 600;
  }

  /* 첫 행 - 위쪽 모서리 둥글게 */
  .scoreboard-table tr:first-child td:first-child {
    border-top-left-radius: 1rem;
  }
  .scoreboard-table tr:first-child td:last-child {
    border-top-right-radius: 1rem;
  }

  /* 마지막 행 - 아래쪽 모서리 둥글게 */
  .scoreboard-table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
  }
  .scoreboard-table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
  }
}

/* 🔷 설정 모달 */
.modal[data-type='settings'] .mode {
  padding-right: 1.8125rem;
}

.modal[data-type='settings'] .exit-button {
  width: 9.375rem;
  height: 3.125rem;

  margin-top: 0.3125rem;

  font-weight: 700;
  font-size: var(--text-24);
  color: var(--primary-black);
  align-content: center;

  /* 임시 호버 스타일 */
  &:hover {
    background-color: var(--red-200);
    border: 0.0625rem solid var(--primary-black);
    border-radius: 3.125rem;
  }
}

/* 🔷 일시정지 모달 */
.modal[data-type='pause'] .modal-inner {
  --modal-width: 47.1875rem;
  --modal-height: 35.9375rem;
  --modal-spacing: 4.375rem;

  width: var(--modal-width);
  height: var(--modal-height);
  padding: var(--modal-spacing);

  border: 6px solid var(--blue-200);
}

.modal[data-type='pause'] .modal-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 1.625rem;
}

.modal[data-type='pause'] .modal-title {
  line-height: 2;
  font-size: var(--text-32);
}

/* 🔷 닉네임 등록 모달 */
.modal[data-type='register'] .modal-inner {
  --modal-width: 56.25rem;
  --modal-height: 37.5rem;
  --modal-spacing: 5.625rem;

  width: var(--modal-width);
  height: var(--modal-height);
  padding: var(--modal-spacing);

  border: none;
}

.modal[data-type='register'] form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding-top: 5.625rem;
  row-gap: 2.1875rem;
}

.modal[data-type='register'] input {
  width: 100%;
  height: 7.8125rem;

  text-align: center;
  font-size: var(--text-32);
  font-weight: 700;
  color: var(--primary-black);

  border: 2px solid var(--primary-black);
  border-radius: 1rem;
}

.modal[data-type='register'] .nickname-check-message {
  font-size: var(--text-24);
}

.modal[data-type='register'] .modal-button-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal[data-type='register'] .register-submit-button,
.modal[data-type='register'] .modal-close-button {
  width: 20.3125rem;
  height: 4.0625rem;
  border-radius: 1rem;
  font-size: var(--text-23);
  font-weight: 700;
  color: var(--primary-black);
}

.modal[data-type='register'] .register-submit-button {
  background-color: var(--blue-100);
}

.modal[data-type='register'] .modal-close-button {
  background-color: var(--gray-200);
}
